This is the information relevant to your Ticket:

<h4>Name: <%= @name %></h4>
<h4>Email: <%= @email %></h4>
<h4>Phone Number: <%= @phone %></h4>
<h4>Desired Movie: <%= @movie %></h4>
<h4>Price: <%= @price %></h4>