"Is this information correct?"

<h4>Name: <%= @name %></h4>
<h4>Email: <%= @email %></h4>
<h4>Phone Number: <%= @phone %></h4>
<h4>Desired Movie: <%= @movie %></h4>
<h4>Price: <%= @ticket %></h4>

<h3 style="color: green">Confirm booking?</h3>
<input type="submit" value="Aceptar">
