"Congratulations! Your Invitation has been created! This is what you selected."

<h4>Name: <%= @name %></h4>
<h4>Email: <%= @email %></h4>
<h4>Phone Number: <%= @phone %></h4>
<h4>Desired Movie: <%= @movie %></h4>
<h4>Price: <%= @price %></h4>
